.CreatePost{
    background-color: #F0F2F5;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    .CreatePost__container{
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        h1{
            text-align: center;
        }
        form{
            display: flex;
            flex-direction: column;
            label{
                margin-bottom: 10px;
            }
            input{
                margin-bottom: 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
                padding: 10px;
            }
        }
        .alert{
            -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          color: #07a50f;
          display: -webkit-box;
          overflow: hidden;
        }
    }
}