.Home__navbar{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    justify-content: center;
    height: 70px;
    background-color: white;
    align-items: center;
    z-index: 99;
    top: 0;
    .Home__Logo{
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    .Home__search{
        width: 500px;
        height: 50px;
        border: 1px solid rgb(241, 241, 241);
        border-radius: 5px;
        margin-left: 10px;
        position: relative;
        z-index: 9;
       .search{
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            font-size: 20px;
            color: rgb(24, 24, 24);
            padding: 0 10px;
            background: rgb(236, 236, 236);
    
       }

    }
}